.Rproj.user
.Rhistory
.RData
.Ruserdata
*.db

# data files > 100 MB
Data/protected-areas/BDCAPC_CPCAD_2024.cpg
Data/protected-areas/BDCAPC_CPCAD_2024.dbf
Data/protected-areas/BDCAPC_CPCAD_2024.prj
Data/protected-areas/BDCAPC_CPCAD_2024.shp
Data/protected-areas/BDCAPC_CPCAD_2024.shp.xml
Data/protected-areas/BDCAPC_CPCAD_2024.shx
