.Rproj.user
.Rhistory
.RData
.Ruserdata
*.db

# data files > 100 MB
Data/protected-areas/BDCAPC_CPCAD_2024.cpg
Data/protected-areas/BDCAPC_CPCAD_2024.dbf
Data/protected-areas/BDCAPC_CPCAD_2024.prj
Data/protected-areas/BDCAPC_CPCAD_2024.shp
Data/protected-areas/BDCAPC_CPCAD_2024.shp.xml
Data/protected-areas/BDCAPC_CPCAD_2024.shx
Data/water-shapefiles/linear-water.cpg
Data/water-shapefiles/linear-water.dbf
Data/water-shapefiles/linear-water.prj
Data/water-shapefiles/linear-water.qmd
Data/water-shapefiles/linear-water.shp
Data/water-shapefiles/linear-water.shx
Data/water-shapefiles/water-polygons.cpg
Data/water-shapefiles/water-polygons.dbf
Data/water-shapefiles/water-polygons.prj
Data/water-shapefiles/water-polygons.qmd
Data/water-shapefiles/water-polygons.shp
Data/water-shapefiles/water-polygons.shx
Data/water-shapefiles/water-shapefiles.qgz
Data/water-shapefiles/World_Linear_Water.lpk
Data/water-shapefiles/World_Water_Bodies.lpk
Data/ndvi-data.rds
