.Rproj.user
.Rhistory
.RData
.Ruserdata
*.db

# data files > 100 MB
Data/parks/BDCAPC_CPCAD_2024.cpg
Data/parks/BDCAPC_CPCAD_2024.dbf
Data/parks/BDCAPC_CPCAD_2024.prj
Data/parks/BDCAPC_CPCAD_2024.shp
Data/parks/BDCAPC_CPCAD_2024.shp.xml
Data/parks/BDCAPC_CPCAD_2024.shx
